include CONTRIBUTING.md
include CITATION.cff
include LICENSE
include NOTICE
include README.md
include SECURITY.md
recursive-include apps *.py
recursive-include docs *.md *.png
recursive-include examples *.yaml
recursive-include scripts *.py
recursive-include spec *.md *.yaml
recursive-include tests *.py *.json
